.navbar--container{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0px 40px ;
  background-color: rgb(103, 34, 128);
  color: white;
}

.logo--container{
  display: flex;
  align-items: center;
}

.logo--img{
  height: 50px;
  margin-right: 10px;
}

.page--title{
  letter-spacing: -2px;
}